<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Device Measurement</title>	    		
</head>
<body>
	<h2>Please enter your device measurement results</h2>
	<form action="/" method="post">
		Patient ID:<br>
		<input type="text" name="patientid" >
		<br>
		Temperature:<br>
		<input type="text" name="temperature" >
		<br>
		Blood Pressure:<br>
		<input type="text" name="bloodpressure" >
		<br>
		Pulse:<br>
		<input type="text" name="pulse" >
		<br>
		Oximeter:<br>
		<input type="text" name="oximeter" >
		<br>
		Weight:<br>
		<input type="text" name="weight" >
		<br>
		Height:<br>
		<input type="text" name="height" >
		<br>
		Glucometer:<br>
		<input type="text" name="glucometer" >
		<br><br>
		<input type="submit" value="submit"/>
	</form> 
</body>
</html>